mixin contact(contact)
    li
        a(href= contact.url, target='_blank')
            div(class= contact.class, text= contact.title)


mixin project(project)
    article(class='u-full-width #{project.class}')
        .container
            .four.columns.project-logo
                img(src= project.img)
            .eight.columns
                header
                    h4= project.name
                p= project.description
                footer
                    a(href= project.url, target="_blank")
                        .button VIEW DETAILS


mixin skillrow(language)
    article(class='u-full-width #{language.class}')
        .container
            .twelve.columns.libs
                h1.lang-name= language.name

                each lib in language.libs
                    .lib
                        div(class='#{lib.img}', title='#{lib.name}')
                            h5= lib.name